<h1>Notes Index Placeholder</h1>

<% @notes.each do |note| %>
<div class="note">
    <h3><%= link_to note.title, note %></h3>
    <%= image_tag note.image.url(:small) %>
    <p><%= note.description %></p>
</div>
<% end %>

<%= link_to "New Note", new_note_path %>
