.notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.note {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
    width: 240px;
}

